# Database
DATABASE_URL=postgresql+asyncpg://nhaiuser:nhaipass@localhost:5432/nhai_db

# Redis
REDIS_URL=redis://localhost:6379/0

# App
DEBUG=True
API_HOST=0.0.0.0
API_PORT=8000

# Celery
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1

# CORS
CORS_ORIGINS=http://localhost:3000,http://localhost:8000
